* {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}
/* html {
    scroll-behavior: smooth;
  } */
body{
    background-image: url(https://sf.ezoiccdn.com/ezoimgfmt/www.roc21.com/wp-content/uploads/2012/09/fondos-para-pa%CC%81ginas-web-8.jpg?ezimgfmt=rs:372x186/rscb1/ng:webp/ngcb1);
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgb(43, 43, 43);
    padding: 30px;
    border-radius: 20px;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.juego{
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    color: black;
}
.nav_item a:hover{
    color:rgb(240, 240, 0)
}
.juego:hover{
    background-color: rgb(240, 240, 0);
    cursor: pointer;
    color: black !important;    
}
.active{
    border-bottom: 2px solid rgb(240, 240, 0); 
}
.presentacion{
    align-content: center;
    margin: auto;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
    color: white;
    background-color: rgb(43, 43, 43);
}
main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.carta{
    width: 20%;
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 15px;
}
.linea{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 10px 0;
}
.ul-carta{
    display: flex;
    align-items: center;
}
.carta_nombre{
    margin-left: 30px;
}
.descripcion{
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 30px;
}
.carta_img{
    border-radius: 20%;
}
.boton {
    text-align: center;
}

.escuchar {
    background-color: rgb(43, 43, 43);
    padding: 10px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    gap: 8px; /* espacio entre el texto y el logo */
    text-decoration: none;
    color: white;
}
.proyectos{
    margin-top: 100px;
}
section{
    min-height: 70vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.container a {
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
}

.container .centered {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-40%, -40%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
}
.centered:hover{
    /* yellow rgba 0.6 */
    background-color: rgba(240, 240, 0, 0.6);
    color: black;
    transition: all 0.3s ease-in-out;
}
footer{
    width: 97.34%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(43, 43, 43);
    text-align: center;
    color: white;
}